{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>Free CSS template by ChocoTemplates.com</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="{% static "css/images/favicon.ico?cb=1"%}" />
	<link rel="stylesheet" href="{% static "css/detail_style.css"%}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static "js/fancybox/jquery.fancybox-1.3.1.css"%}" type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
	<![endif]-->
	<script src="{% static "js/detail_jquery-1.4.2.min.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "js/detail_jquery-ui-1.8.5.custom.min.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "js/fancybox/jquery.fancybox-1.3.1.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "js/detail_js-func.js"%}" type="text/javascript" charset="utf-8"></script>


	<script src="js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-ui-1.8.5.custom.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/fancybox/jquery.fancybox-1.3.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/js-func.js" type="text/javascript" charset="utf-8"></script>







</head>


<body>
<!-- shell -->
<div class="shell">
	
	<!-- header -->
	<div id="header">
		
		<!-- navigation -->
		<div id="navigation">
			<ul id="sortable">
			    <li><a href="#"><span>About Me</span></a></li>
			    <li><a href="#"><span>Contact Me</span></a></li>
			    <li><a href="#"><span>Random Button</span></a></li>
			    <li><a href="#"><span>Random Button</span></a></li>
			    <li><a href="#"><span>Random Button</span></a></li>
			</ul>
		</div>
		<!-- end navigation -->
		
		<div class="cl">&nbsp;</div>
		
		<!-- logo -->
		<h1 id="logo" class="notext"><a href="#">PhotoWall</a></h1>
		<!-- end logo -->
		<div class="cl">&nbsp;</div>
		
	</div>
	<!-- end header -->
	
	<!-- main -->
	<div id="main">
	
		<!-- user box -->
		<div class="user-box">
			<span class="drag-pointer">&nbsp;</span>
			<div class="cl">&nbsp;</div>
			<!-- user picture -->
			<div class="user-picture">
				<img src="css/images/user-picture.jpg" alt="" />
			</div>
			<!-- end user picture -->
			
			<!-- user info -->
			<div class="user-info">
			
				<!-- username -->
				<p class="username">ALEXANDRA DRESSEW</p>
				<!-- end username -->
				
				<!-- description -->
				<div class="description">
					<h5>FILE DESCRIPTION</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed rhoncus arcu. Proin lobortis augue id odio imperdiet aliquet.</p>
				</div>
				<!-- end description -->
				
			</div>
			<!-- end user info -->
			
			<div class="cl">&nbsp;</div>
			
			<!-- social links -->
			<div class="social-links">
				<p>FIND ME ON</p>
				<a href="#" class="linkedin">linkedin</a>
				<a href="#" class="skype">skype</a>
				<a href="#" class="facebook">facebook</a>
				<a href="#" class="twitter">twitter</a>
				<a href="#" class="picasa">picasa</a>
				<a href="#" class="lastfm">lastfm</a>
				
				<div class="cl">&nbsp;</div>
			</div>
			<!-- end social-links -->
		</div>
		<!-- end user box -->
		
		<!-- image box -->
		<div class="image-box">
		 <div class="holder">
			<span class="drag-pointer">&nbsp;</span>
			<!-- photo cover -->
			<div class="photo-cover">
				<a href="{% static "css/images/golden-gate-big.jpg" %}" class="big-image"><img src="{% static "css/images/golden-gate.jpg" %}" alt="" /></a>
			</div>
			<!-- end photo cover -->
			
			<!-- photo name -->
			<p class="photo-name">GOLDEN GATE</p>
			<!-- end photo name -->
		</div>
		</div>
		<!-- end image-box -->
		
		<!-- image box -->
		<div class="image-box">
			<span class="drag-pointer">&nbsp;</span>
			<!-- photo cover -->
			<div class="photo-cover">
				<a href="css/images/remember-love-big.jpg" class="big-image"><img src="css/images/remember-love.jpg" alt="" /></a>
			</div>
			<!-- end photo cover -->
			
			<!-- photo name -->
			<p class="photo-name">REMEMBER LOVE</p>
			<!-- end photo name -->

		</div>
		<!-- end image-box -->
		
		<!-- image box -->
		<div class="image-box">
			<span class="drag-pointer">&nbsp;</span>
			<!-- photo cover -->
			<div class="photo-cover">
				<a href="css/images/sunset-big.jpg" class="big-image"><img src="css/images/sunset.jpg" alt="" /></a>
			</div>
			<!-- end photo cover -->
			
			<!-- photo name -->
			<p class="photo-name">THE SUNSET</p>
			<!-- end photo name -->

		</div>
		<!-- end image-box -->
		
		<!-- image box -->
		<div class="image-box">
			<span class="drag-pointer">&nbsp;</span>
			<!-- photo cover -->
			<div class="photo-cover">
				<a href="css/images/venice-big.jpg" class="big-image"><img src="css/images/venice.jpg" alt="" /></a>
			</div>
			<!-- end photo cover -->
			
			<!-- photo name -->
			<p class="photo-name">Venice</p>
			<!-- end photo name -->

		</div>
		<!-- end image-box -->
		
		<!-- image box -->
		<div class="image-box">
			<span class="drag-pointer">&nbsp;</span>
			<!-- photo cover -->
			<div class="photo-cover">
				<a href="css/images/andrew-fashion-big.jpg" class="big-image"><img src="css/images/andrew-fashion.jpg" alt="" /></a>
			</div>
			<!-- end photo cover -->
			
			<!-- photo name -->
			<p class="photo-name">Andrew Fashion</p>
			<!-- end photo name -->

		</div>
		<!-- end image-box -->
		
		<!-- image box -->
		<div class="image-box">
			<span class="drag-pointer">&nbsp;</span>
			<!-- photo cover -->
			<div class="photo-cover">
				<a href="css/images/golden-gate-big.jpg" class="big-image"><img src="css/images/golden-gate.jpg" alt="" /></a>
			</div>
			<!-- end photo cover -->
			
			<!-- photo name -->
			<p class="photo-name">GOLDEN GATE</p>
			<!-- end photo name -->

		</div>
		<!-- end image-box -->
		
		<!-- image box -->
		<div class="image-box">
			<span class="drag-pointer">&nbsp;</span>
			<!-- photo cover -->
			<div class="photo-cover">
			<a href="css/images/remember-love-big.jpg" class="big-image"><img src="css/images/remember-love.jpg" alt="" /></a>
			</div>
			<!-- end photo cover -->
			
			<!-- photo name -->
			<p class="photo-name">REMEMBER LOVE</p>
			<!-- end photo name -->

		</div>
		<!-- end image-box -->
		
		<!-- image box -->
		<div class="image-box">
			<span class="drag-pointer">&nbsp;</span>
			<!-- photo cover -->
			<div class="photo-cover">
				<a href="css/images/venice-big.jpg" class="big-image"><img src="css/images/venice.jpg" alt="" /></a>
			</div>
			<!-- end photo cover -->
			
			<!-- photo name -->
			<p class="photo-name">Venice</p>
			<!-- end photo name -->

		</div>
		<!-- end image-box -->
		
		<!-- image box -->
		<div class="image-box">
			<span class="drag-pointer">&nbsp;</span>
			<!-- photo cover -->
			<div class="photo-cover">
				<a href="css/images/andrew-fashion-big.jpg" class="big-image"><img src="css/images/andrew-fashion.jpg" alt="" /></a>
			</div>
			<!-- end photo cover -->
			
			<!-- photo name -->
			<p class="photo-name">Andrew Fashion</p>
			<!-- end photo name -->

		</div>
		<!-- end image-box -->
		
		<!-- image box -->
		<div class="image-box">
			<span class="drag-pointer">&nbsp;</span>
			<!-- photo cover -->
			<div class="photo-cover">
				<a href="{% static "css/images/sunset-big.jpg"%}" class="big-image"><img src="{% static "css/images/sunset.jpg"%}" alt="" /></a>
			</div>
			<!-- end photo cover -->
			
			<!-- photo name -->
			<p class="photo-name">THE SUNSET</p>
			<!-- end photo name -->

		</div>
		<!-- end image-box -->
		
		<div class="cl">&nbsp;</div>
	</div>
	<!-- end main -->
	
	<!-- footer -->
	<div id="footer">
		<p class="left">
			<a href="#">Terms Of Use</a>
			<span>|</span>
			<a href="#">Privacy Policy</a>
		</p>
		<p class="right">
			&copy; Photowall.com  Design by <a href="http://chocotemplates.com" title="The Sweetest CSS Templates WorldWide" target="_blank">ChocoTemplates.com</a>
		</p>
		<div class="cl">&nbsp;</div>
	</div>
	<!-- end footer -->

</div>
<!-- end shell -->
</body>
</html>