{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>{{place.title}}</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="{% static "css/images/favicon.ico?cb=1"%}" />
	<link rel="stylesheet" href="{% static "css/detail_style.css"%}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static "js/fancybox/jquery.fancybox-1.3.1.css"%}" type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
	<![endif]-->
	<script src="{% static "js/detail_jquery-1.4.2.min.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "js/detail_jquery-ui-1.8.5.custom.min.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "js/fancybox/jquery.fancybox-1.3.1.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "js/detail_js-func.js"%}" type="text/javascript" charset="utf-8"></script>


	<script src="js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-ui-1.8.5.custom.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/fancybox/jquery.fancybox-1.3.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/js-func.js" type="text/javascript" charset="utf-8"></script>






</head>


<body>
<!-- shell -->
<div class="shell">
	
	<!-- header -->
	<div id="header">
		
		<!-- navigation -->
		<div id="navigation">
			<ul id="sortable">
			    <li><a href="#"><span>Home</span></a></li>
			    <li><a href="#"><span>Coding</span></a></li>
			    <li><a href="#"><span>School</span></a></li>
			    <li><a href="#"><span>Experimental</span></a></li>
			    <li><a href="#"><span>Project</span></a></li>
			</ul>
		</div>
		<!-- end navigation -->
		
		<div class="cl">&nbsp;</div>
		
		<!-- logo -->
		<h1 id="logo" class="notext"><a href="#">PhotoWall</a></h1>
		<!-- end logo -->
		<div class="cl">&nbsp;</div>
		
	</div>
	<!-- end header -->
	
	<!-- main -->
	<div id="main">
	
		<!-- user box -->
		<div class="user-box">
			<span class="drag-pointer">&nbsp;</span>
			<div class="cl">&nbsp;</div>
			<!-- user picture -->
			<div class="user-picture">
				<!--<img src="{% static "images/sanya_logo.png" %}" alt="" />-->

				


				<img src="{{place.logo.url}} " alt="My image"/> 
			</div>
			<!-- end user picture -->
			
			<!-- user info -->
			<div class="user-info">
			
				<!-- username -->
				<p class="username">{{place.title}}</p>
				<!-- end username -->
				
				<!-- description -->
				<div class="description">
					<h5>{{place.date}}</h5> 
					<p>{{place.introduction}} </p>
				</div>
				<!-- end description -->
				
			</div>
			<!-- end user info -->
			
		
			


	
		</div>




		<!-- end user box -->

	<!-- image box -->
        {% for group in pair_list %}	
		<div class="image-box">
			<span class="drag-pointer">&nbsp;</span>
		<!-- photo cover -->
			<div class="photo-cover">
					{% with 'images/sanya/'|add:group.1 as smallimage_static %} 
					{% with 'images/sanya/'|add:group.0 as bigimage_static %}  											
				<a href="{% static bigimage_static %}" class="big-image"><img src="{% static smallimage_static %}" alt="" /></a>
					{% endwith %}
					{% endwith %}
			</div>
			<!-- end photo cover -->
			<!-- photo name -->
			<p class="photo-name">REMEMBER LOVE</p>	
			<!-- end photo name -->
		</div>	
        {% endfor %}
	<!-- end image-box -->	
		
		<div class="cl">&nbsp;</div>
	</div>
	<!-- end main -->
	
	<!-- footer -->
	<div id="footer">
		<p class="left">
			<a href="#">Terms Of Use</a>
			<span>|</span>
			<a href="#">Privacy Policy</a>
		</p>
		<p class="right">
			&copy; Photowall.com  Design by <a href="http://chocotemplates.com" title="The Sweetest CSS Templates WorldWide" target="_blank">ChocoTemplates.com</a>
		</p>
		<div class="cl">&nbsp;</div>
	</div>
	<!-- end footer -->

</div>
<!-- end shell -->
</body>
</html>